# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.vs/
x64/
Release/
Debug/
*.obj
*.aps
*.rc
*.pch